<footer role="contentinfo">
  <div class="social-footer">
    {{ partial "social.html" . }}
    <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <span aria-hidden="true"></span>
    </label>
  </div>
  {{ with .Site.Params.author}}
    <p class="margin-top-none">Copyright &copy; <span id="copyright-year"></span> - {{ . }}</p>
  {{ end }}
  {{ with .Site.Params.footer }}
    <p class="margin-top-none">
    {{ . | markdownify }}
    </p>
  {{ end }}
</footer>
<script>
    var year = new Date().getFullYear()
    document.getElementById("copyright-year").innerHTML = year;
</script>
