<div class="footer-social">
  {{ with .Site.Params.social.twitter }}
    <div class="social-icon">
      <a href="https://twitter.com/{{ . }}" target="_blank" title="Twitter">
        {{ partial "super-tiny-icons/twitter.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.gitlab }}
    <div class="social-icon">
      <a href="https://gitlab.com/{{ . }}" target="_blank" title="GitLab">
        {{ partial "super-tiny-icons/gitlab.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.github }}
    <div class="social-icon">
      <a href="https://github.com/{{ . }}" target="_blank" title="GitHub">
        {{ partial "super-tiny-icons/github.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
    <div class="social-icon">
      <a href="https://www.linkedin.com/in/{{ . }}" target="_blank" title="Linkedin">
        {{ partial "super-tiny-icons/linkedin.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
    <div class="social-icon">
      <a href="https://www.instagram.com/{{ . }}" target="_blank" title="Instagram">
        {{ partial "super-tiny-icons/instagram.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.reddit }}
    <div class="social-icon">
      <a href="https://www.reddit.com/r/{{ . }}" target="_blank" title="Reddit">
        {{ partial "super-tiny-icons/reddit.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.pinterest }}
    <div class="social-icon">
      <a href="https://www.pinterest.co.uk/{{ . }}/_saved/" target="_blank" title="Pinterest">
        {{ partial "super-tiny-icons/pinterest.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.slackinvite }}
    <div class="social-icon">
      <a href="https://join.slack.com/t/{{ .name }}/shared_invite/{{ .code }}" target="_blank" title="Join Slack">
        {{ partial "super-tiny-icons/slack.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.slackworkspace }}
    <div class="social-icon">
      <a href="https://{{ .name }}.slack.com" target="_blank" title="Slack">
        {{ partial "super-tiny-icons/slack.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
    <div class="social-icon">
      <a href="https://facebook.com/{{ . }}" target="_blank" title="Facebook">
        {{ partial "super-tiny-icons/facebook.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.tiktok }}
    <div class="social-icon">
      <a href="https://www.tiktok.com/@{{ . }}" target="_blank" title="TikTok">
        {{ partial "super-tiny-icons/tiktok.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.telephone }}
    <div class="social-icon">
      <a href="tel:{{ . }}" target="_blank" title="Call">
        {{ partial "super-tiny-icons/phone.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.email }}
    <div class="social-icon">
      <a href="mailto:{{.}}" title="Email">
        {{ partial "super-tiny-icons/email.svg" }}
      </a>
    </div>
  {{ end }}
  {{ with .Site.Params.social.misc }}
    {{ range . }}
      <div class="social-icon">
        <a href="{{ .url }}" target="_blank" title="{{ .name }}">
          {{ with .icon }}
            {{ partial . }}
          {{ end }}
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>
