{{ define "main" }}
  <main id="main">
    <h1>
      <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
        <use xlink:href="#bookmark"></use>
      </svg>
      {{ .Title }}
    </h1>

    <div class="date">
      <p>
        {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
        {{ partial "ikonate/svg/calendar.svg" }} Published {{ .PublishDate.Format $dateFormat }}
      </p>
      {{ if .Site.Params.readingTime }}
      <p>{{ partial "ikonate/svg/stopwatch.svg" }} Reading time {{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}minutes</p>
      {{ end }}
    </div>

    {{ with .Params.tags }}
      <div class="tags">
        <strong>{{ T "tags" }} </strong>
        <ul aria-label="{{ T "aria_label_tags" }}">
          {{ range . }}
            <li>
              <a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">
                <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                  <use xlink:href="#tag"></use>
                </svg>
                {{ . }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    
    {{ if ne .Params.toc false }}
      {{ partial "toc" . }}
    {{ end }}

    {{ .Content }}
  </main>
{{ end }}
